{% extends 'homepage/base.html' %}

{% block body %}

<!-- services part here -->
<section style="padding-top: 15px !important; padding-bottom: 50px;" class="services_part wave_shape_bg sec_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section_tittle_style_02">
                    <img src="" alt="">
                    <h2 class="title wow fadeInDown" style="color: rgb(179, 24, 50) ;font-family: 'Times New Roman', Times, serif;" data-wow-delay=".3s" > 
                        <span class="title_overlay_effect"> </span>
                        Oops!
                    </h2>
                    <p class="description wow fadeInDown" style="font-size: 25px;font-weight: bold;" data-wow-delay=".3s">
                        {{message}}!
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    
</section>
<!-- services part end -->




{% endblock %}