{% extends 'homepage/base.html' %}

{% block title %}
    Evaluate Test
{% endblock %}

{% block body %}
    <!-- banner part here -->
    <section class="banner_part animated_hero">
        <div style="height: auto !important " class="single_banner_part parallax_bg">
            <div class="container custom_container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-7 col-md-10">
                        <div class="banner_iner">
                            <div class="contact_form form_style">
                                <h2 class="kid_title mb-4 mt-4">Solution</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part end -->

    <!-- event list part here -->
    <section class="event_list section_padding section_bg_1">
        <div class="container custom_container">
            <div class="row justify-content-center">
                {% for cls in page_obj %}
                    <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single_event_list">
                            <div class="event_list_content">
                                <p style="font-size:18px; color: black;"><strong style="color: #000066;">Solution #{{cls.order}}:</strong>  {{cls.solution.questionandhintid.contentquestion | safe}}</p>
                                <br>
                                <div>
                                    <span class="badge badge-primary p-2" style="font-size:13px; background-color: red;">{{cls.solution.note}}</span>
                        
                                    {% for skill in cls.list_skills %}
                                        <span class="badge badge-success p-2" style="font-size:13px; background-color: #568dff;">{{skill}}</span>
                                    {% endfor %}
                                </div>
                                <ul><li style="font-size:17px;"><i class="fas fa-calendar"></i>Date submit: <strong>{{cls.solution.endtime | date:'d/m/Y'}}</strong></li>
                                    <li style="font-size:17px;"><i class="fas fa-calendar"></i>Time submit: <strong>{{cls.solution.endtime.hour}}:{{cls.solution.endtime.minute}}</strong></li>
                                    <li style="font-size:17px"><i class="fas fa-user-check"></i>Number of evaluaters:<span> {{cls.evaluaters}}/{{cls.max_evaluaters}}</span></li>
                                    <li><a class="cu_btn btn_2" style="padding:12px" href="{% url 'homepage:evaluatetestdetail' cls.solution.solutionid %}">Evaluate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            
        </div>

        <div class="event_list_animation_1">
            <div data-parallax='{"x": 2, "y": 70, "rotateZ":0}'><img src="/media/assets/img/icon/icon_5.png" alt="#"></div>
        </div>
        <div class="event_list_animation_3">
            <div data-parallax='{"x": 30, "y": 60, "rotateZ":0}'><img src="/media/assets/img/icon/icon_7.png" alt="#"></div>
        </div>
        <div class="event_list_animation_4">
            <div data-parallax='{"x": 30, "y": -50, "rotateZ":0}'><img src="/media/assets/img/icon/icon_8.png" alt="#" class="img-fluid"></div>
        </div>
    </section>
    <!-- event list part end -->


{% endblock %}